<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        <form [formGroup]="profileForm" (submit)="login()">
            <div class="form-field">
                <input type="text" pInputText placeholder="Pseudo" formControlName="username" />
            </div>

            @if (profileForm.controls.username.invalid && (profileForm.controls.username.dirty || profileForm.controls.username.touched)) {
                <small class="p-error block">
                    Le pseudo est requis
                </small>
            }    

            <div class="form-field">
                <input type="password" pInputText placeholder="Mot de passe" formControlName="password" />
            </div>
        </form>
        <p-button label="Se connecter" type="submit" [disabled]="profileForm.invalid" />
    </div>
</div>
