.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    border: 1px solid rosybrown;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid aqua;
    border-radius: 2px;
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;
    box-shadow: 1px 2px 5px 5px rgb(61, 61, 92);    
}

.form-field {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.form-field .p-inputtext {
    width: 100%;
}
